* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

/*the beginning of header*/
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

header h1 .seo {
  color: #d9dcd6;
}

/*change .header div to header nav*/
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  /*and "" in front/and after font Calibri*/
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-size: 20px;
}

/*change .header div ul to .header nav ul*/
header nav ul {
  list-style-type: none;
}
/*change .header div ul li to .header nav ul li*/
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}
/*the end of header*/

p {
  font-size: 16px;
}

/*the beginning of "hero" section*/
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}
/*the end of "hero" section*/

/*the beginning of section "content"*/

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/*delete the other two classes that have the same content change class name to "search-catagory"*/
.search-catagory {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  /*and "" in front/and after font Calibri*/
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.search-catagory img {
  max-height: 200px;
}

.search-catagory h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  /*and "" in front/and after font Calibri*/
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  background-color: #2589bd;
}

/*delete the classes with the same content and create new class "benefit-all"*/
.benefit-all {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-all h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-all img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/*the end of section "content"*/

/*beginning of footer*/

footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}

/*the end of footer*/
